
Modos-de-funcionamento.jpg
Dados diversos.xlsx
Compras.txt
Artigos/
SOFTWARE/FlightControllerFuzzy/\*.jpg
SOFTWARE/FlightControllerFuzzy/\*.slx
SOFTWARE/FlightControllerFuzzy/Ganhos
SOFTWARE/FlightControllerFuzzy/\*.xlsx
SOFTWARE/FlightControllerFuzzy/Reglas.fis
